
@media (min-width: 1200px){
.container {
 
    width: 30%;
}
}

h1 {
    color: blue;
    font-family: verdana;
    font-size: 200%;

}
p  {
    color: red;
    font-family: courier;
    font-size: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #FFF;
    background-color: #D21E1E;
}